/* side bar and main bar */
.App {
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "side_bar main_card";
  height: 100vh;
}

.adding-margin {
  margin: 30px;
}

h3 {
  color: rgb(235, 235, 235);
}

.round-avatar {
  width: 60px;
  height: 60px;
  padding: 20px 0px;
  border-radius: 35px;
  background-color: aliceblue;
}

.side_bar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ".";
  grid-area: side_bar;
  background-color: rgb(37, 37, 37);
}

.main_card {
  grid-area: main_card;
  background-color: rgb(230, 230, 230);
}

.table-todo {
  background-color: rgb(240, 240, 240);
}

table.table-bordered > thead > tr > th{
  border-bottom:2px solid red;
}

table.table-bordered > tbody > tr > td {
  border-bottom:1.5px solid blue;
}


